<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CSU Fresno CSCI Club</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="atf">
			<img src="../assets/logo.jpg">
		</div>

		<div id="btf">
			<div class="container">
			<div class="row">
				<div class="col">
					<img src="../assets/meme_circle.jpg" >
					<h2>Treasurer</h2>
				</div>
				<div class="col">
					Member 1
				</div>
				<div class="col">
					Member 1
				</div>
				<div class="col">
					Member 1
				</div>
				</div>
			</div>
		</div>
	</body>

</html>
